.navbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #9cd5e2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-logo button:hover {
  background-color: #0056b3;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icon {
  background-color: transparent;
  border: none;
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.navbar-contact {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Butonlar arasındaki boşluk */
  white-space: nowrap; /* Metni tek satırda tutar */
}

.navbar-contact:hover {
  background-color: #0056b3;
}